// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
li code {
	color: #999;
}

.main-navigation {
    width: 50%;
}

.subscription {
    width: 64px;
}

#content .blog-index a[rel="full-article"] {
    width: 87px;
}